

	.one{
		width: 180px; /*largo*/
		height: 110px;/* ancho */
		display: block;
		margin-top: 10px;
		background: #f7ba0d;
	}
	.two{
		width: 180px; /*largo*/
		height: 110px;/* ancho */
		display: block;
		margin-top: 15px;
		background: #1d1b24;

		color: #fff;
	}
	.three{
		width: 180px; /*largo*/
		height: 110px;/* ancho */
		display: block;
		margin-top: 15px;
		background: #f7ba0d;
	}

	